@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 12px !important;
    font-family: 'Nanum Myeongjo', 'Nanum Gothic', 'helvetica', serif, 'AppleGothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
html, body {
    height: 100%;
    /*overflow: auto;*/
}

fieldset, img {
    border: 0;
    vertical-align: middle;
}

img {
    width: 100%;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: normal;
}

hr {
    display: none;
    height: 0
}

ul, ol, li, dd, dt {
    list-style: none
}

button {
    border: 0;
    padding: 0;
    margin: 0;
}

p {
    display: block
}

ul {
    display: inline-block
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

input[type="radio"] {
    margin: 0;
    vertical-align: middle;
    border: 0 solid #fff;
}

input[type="checkbox"] {
    border-radius: 0;
    background: #fff;
}

input:focus {
    outline: none;
}

header, section, article, aside, nav, footer {
    display: block;
}

hr, caption, legend {
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
}

label {
    vertical-align: middle;
}


html {
    width: 100%;
    height: 100%;
}

/* LightMode일 때 사용되는 컬러 */
body {
    background: #fff;
    color: #000;
}

.wrapper {
    background: url(../images/bg.jpeg);
    background-size: cover;
    /*background-color: #fffdf9;*/
}

.contents .cnt-tit {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
    color: #483a33;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.contents .cnt-tit:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    /*margin-left: -2.59rem;*/
    /*width: 5rem;*/
    margin-left: -0.12rem;
    width: 80%;
    height: 1px;
    background: #d4bda2;
}

.contents .cnt-tit .leaf {
    content: '';
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

.contents .cnt-tit .leaf.left {
    left: -50px;
    background-image: url("../images/leaf-left.png");
}

.contents .cnt-tit .leaf.right {
    right: -50px;
    background-image: url("../images/leaf-right.png");
}

.call-icon {
    background: url("../images/icon_tel.png") no-repeat center;
    background-size: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

.ps-txt {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}


/*start*/
.contents.start {
    padding: 70px 0;
}

.contents.start .txt-cnt {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Nanum Myeongjo', sans-serif !important;
}

.contents.start .main-tit {
    width: 100%;
    font-size: 25px;
    line-height: 1.1;
    color: #483a33;
    padding-bottom: 40px;
}

.contents.start .info {
    position: relative;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0.688rem;
    padding-bottom: 0.688rem;
    font-weight: 300;
    line-height: 1.1;
    color: #483a33;
}

.contents.start .info:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 7.5rem;
    height: 1px;
    background: #d4bda2;
}

.contents.start .name {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.125rem;
}

.contents.start .name span {
    position: relative;
    display: inline-block;
    font-weight: 400;
    line-height: 1.125rem;
    padding: 0 3px;
}


/*invitation*/

.contents.invitation{
    text-align: center;
}

.contents.invitation .txt-cnt {
    font-size: 14px;
    line-height: 2;
    font-family: 'Nanum Myeongjo', sans-serif;
}

.contents.invitation .txt-cnt.top {
    padding-bottom: 50px;
}

.contents.invitation .txt-cnt.btm {
    position: relative;
    padding: 50px 0 30px 0;
}

.contents.invitation .txt-cnt .sm-txt {
    font-size: 12px;
}

.contents.invitation .txt-cnt .m-txt {
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
}

.contents.invitation .txt-cnt.btm:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -15px;
    width: 1px;
    height: 1.875rem;
    background: #999;
}

/*calling*/
.contents.calling .img-cnt {
    position: relative;
    height: 100px;
    /* box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1); */
    background-color: #d4bda2;
}


.contents.calling .img-cnt p {
    text-align: center;
    color: #ffffff;
    line-height: 100px;
    letter-spacing: 10px;
    font-size: 12px;
    font-weight: bold;
    /* background-image: url(../images/flower1.jpg);
    background-size: cover;
    background-attachment: fixed; */
}



/*test*/
 .first {
    width: 100%;
    position: relative;
    height: 100px;
}

.bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}

.first .bg {
    background-image: url(../images/flower1.jpg);
}

/*test*/



.contents.calling .couple {
    text-align: center;
    padding: 35px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.250rem;
    letter-spacing: 2px;
    color: #111;
}

.contents.calling .couple .call-cnt a {
    display: inline-block;
}

.contents.calling .couple .call-cnt span {
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
}

.contents.calling .couple .call-cnt:last-child {
    padding-top: 13px;
}

.bride.grid-item {
    border-left: 1px solid #f0e8e0;
}

.contents.calling .call-icon.groom {
    background-color: #a3dad9;
}

.contents.calling .call-icon.bride {
    background-color: #fbc9e2;
}

.contents.calling .parents {
    font-family: "Noto Sans KR", sans-serif;
}


.contents.calling .parents .calling-parents {
    background: #f0e8e0;
    color: #ba8f58;
    padding: 12px 0;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.contents.calling .parents .tit {
    font-size: 13px !important;
}

.contents.calling .parents .item {
    margin-top: 20px;
}

.contents.calling .parents .name-cnt {
    padding-bottom: 8px;
}

.contents.calling .parents .name-cnt > span {
    color: #999999;
    font-size: 12px;
}

.contents.calling .parents .name-cnt strong {
    font-size: 14px;
    font-weight: normal;
    padding-left: 3px;
}


.contents.calling .parents .call-cnt {
    padding: 30px 0;
    font-size: 12px;
    text-align: center;
}

.contents.calling .parents .grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contents.calling .parents .tit {
    font-size: 13px;
}

.contents.calling .parents .groom .tit {
    color: #7cd7d6;
}

.contents.calling .parents .bride .tit {
    color: #fba8d1;
}


/*gallery*/
.contents.gallery {
    margin-top: 70px;
    text-align: center;
}

.contents.gallery .gallery-list .swiper-slide .grid-item {
    /* height: 360px; */
    height: 420px;
}

.contents.gallery .gallery-list .image-cnt {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}

.contents.gallery .gallery-list .image-cnt > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.contents.location {
    margin-top: 100px;
    text-align: center;
}

.contents.location .address {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    font-family: "Noto Sans KR", sans-serif;
    text-align: left;
    background-color: #ffffff;
}

.contents.location .address .left .tit {
    font-size: 15px;
}

.contents.location .address .left .detail {
    font-size: 14px;
    margin-top: 6px;
    color: #999999;
    line-height: 1.4;
}

.contents.location .address .right {
    text-align: right;
    align-self: center;
}

.contents.location .call-icon.hall {
    background-color: #ba8f58;
}

.contents.location .map{
    font-family: "Noto Sans KR", sans-serif;
    text-align: left;
}


.contents.location .map-icons-cnt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 65px;
    text-align: center;
    background-color: #fafafa;
}

.contents.location .map-icon a {
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
}

.contents.location .map-icon a.google-map {
    background-image: url("../images/location_googlemap.png");
}

.contents.location .map-icon a.naver-map {
    background-image: url("../images/location_navermap.png");
}

.contents.location .map-icon a.kakao-map {
    background-image: url("../images/location_kakaomap.png");
}

.contents.location .map-icon p {
    padding-top: 6px;
}

.contents.location .transportation {
    padding: 15px;
    background-color: #ffffff;
}

.contents.location .transportation .list {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.contents.location .transportation p {
    padding-bottom: 10px;
    font-size: 13px;
}

.contents.location .transportation .detail {
    font-size: 12px;
    color: #999999;
}

/*menu*/
.contents.menu {
    padding: 50px 20px;
    text-align: center;
}

.contents.menu .grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
}

.contents.menu .grid-wrap .grid-item > a {
    display: inline-block;
}

.swiper-container {
    z-index: 0
}

/*calendar*/
.contents.calendar {
    padding: 20px;
    background-color: #ffffff;
}

/*account*/
.contents.account {
    padding: 50px 0;
    text-align: center;
}

.contents.account .main-tit {
    margin-bottom: 40px;
    font-weight: 300;
    text-align: center;
    color: #777;
}

.contents.account .account-list {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
}

.contents.account .account-list div:first-child {
    margin-bottom: 20px;
}

.contents.account .account-list a {
    display: inline-block;
    margin-left: 15px;
    padding: 10px 50px;
    border-radius: 2.5rem;
    color: #ffffff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.contents.account .account-list a.groom {
    background-color: #a3dad9;
}

.contents.account .account-list a.bride {
    background-color: #fbc9e2;
}


.account-txt {
    width: 100%;
    /* display: table; */
    text-align: center;
}

.account-txt span {
    font-size: 18px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
}

.account-txt span:first-child {
    position: relative;
    padding-right: 30px;
}

.account-txt span:first-child:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ba8f58;
    position: absolute;
    top: 3px;
    right: 13px;
}

.account-num > input {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 15px 0 25px 0;
    border-radius: 7px;
    font-family: 'Gaegu', cursive;
}

.account-num .copy-btn{
    width: 50%;
    border-radius:10px;
    background-color: #fadb6c;
}

.account-num .copy-btn > span{
    width: 100%;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gaegu', cursive;
    color: #000000;
}

/*footer*/
.footer .contents {
    padding: 30px;
    font-size: 13px;
    text-align: center;
}

.footer .btm {
    background-color: #d4bda2;
    height: 93px;
}


/*popup*/
.modal-dim {
    z-index: 0;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 0;
    line-height: 0;
}

.popup {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.popup-header {
    position: relative;
}

.popup-dialog {
    position: absolute;
    width: 93% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
    background-color: #1d1d1d;
    border: 1px solid #595959;
    border-radius: 10px;
    overflow-y: auto;
}

.popup-contents {
    position: relative;
    padding: 30px;
}

.popup-footer {
    position: relative
}

.popup-close {
    padding: 24px;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
}

.popup-close > img{
    width: 100%;
    vertical-align: initial;
}

.popup.account .popup-header {
    position: relative;
    padding: 20px;
    font-family: 'Gaegu', cursive;
    font-size: 22px;
    font-weight: bold;
    color: #1d1d1d;
    background-color: #fadb6c;
}

.popup.account .popup-header span{
    position: relative;
    display: inline-block;
}

.popup.account .popup-header span::before {
    content: '';
    position: absolute;
    top: 2px;
    right: -25px;
    width: 20px;
    height: 20px;
    background-image: url("../images/heart.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.popup.account .popup-dialog {
    width: 100%;
    background-color: #ffffff;
    border: 0;
}


/* 텍스트 스크롤 */
.scroll-y {
    transform: translateY(20vh);
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    opacity: 0;
}

.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}










@-webkit-keyframes fall {
    0% {
        opacity: 0.9;
        top: 0
    }
    100% {
        opacity: 0.2;
        top: 100%
    }
}

@-o-keyframes fall {
    0% {
        opacity: 0.9;
        top: 0
    }
    100% {
        opacity: 0.2;
        top: 100%
    }
}

@-ms-keyframes fall {
    0% {
        opacity: 0.9;
        top: 0
    }
    100% {
        opacity: 0.2;
        top: 100%
    }
}

@-moz-keyframes fall {
    0% {
        opacity: 0.9;
        top: 0
    }
    100% {
        opacity: 0.2;
        top: 100%
    }
}

@keyframes fall {
    0% {
        opacity: 0.9;
        top: 0
    }
    100% {
        opacity: 0.2;
        top: 100%
    }
}

@-webkit-keyframes blow-soft-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -50%
    }
}

@-o-keyframes blow-soft-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -50%
    }
}

@-ms-keyframes blow-soft-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -50%
    }
}

@-moz-keyframes blow-soft-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -50%
    }
}

@keyframes blow-soft-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -50%
    }
}

@-webkit-keyframes blow-medium-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -100%
    }
}

@-o-keyframes blow-medium-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -100%
    }
}

@-ms-keyframes blow-medium-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -100%
    }
}

@-moz-keyframes blow-medium-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -100%
    }
}

@keyframes blow-medium-left {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: -100%
    }
}

@-webkit-keyframes blow-soft-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50%
    }
}

@-o-keyframes blow-soft-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50%
    }
}

@-ms-keyframes blow-soft-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50%
    }
}

@-moz-keyframes blow-soft-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50%
    }
}

@keyframes blow-soft-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 50%
    }
}

@-webkit-keyframes blow-medium-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 100%
    }
}

@-o-keyframes blow-medium-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 100%
    }
}

@-ms-keyframes blow-medium-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 100%
    }
}

@-moz-keyframes blow-medium-lerightft {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 100%
    }
}

@keyframes blow-medium-right {
    0% {
        margin-left: 0
    }
    100% {
        margin-left: 100%
    }
}

@-webkit-keyframes sway-0 {
    0% {
        -webkit-transform: rotate(-5deg)
    }
    40% {
        -webkit-transform: rotate(28deg)
    }
    100% {
        -webkit-transform: rotate(3deg)
    }
}

@-o-keyframes sway-0 {
    0% {
        -o-transform: rotate(-5deg)
    }
    40% {
        -o-transform: rotate(28deg)
    }
    100% {
        -o-transform: rotate(3deg)
    }
}

@-ms-keyframes sway-0 {
    0% {
        -ms-transform: rotate(-5deg)
    }
    40% {
        -ms-transform: rotate(28deg)
    }
    100% {
        -ms-transform: rotate(3deg)
    }
}

@-moz-keyframes sway-0 {
    0% {
        -moz-transform: rotate(-5deg)
    }
    40% {
        -moz-transform: rotate(28deg)
    }
    100% {
        -moz-transform: rotate(3deg)
    }
}

@keyframes sway-0 {
    0% {
        transform: rotate(-5deg)
    }
    40% {
        transform: rotate(28deg)
    }
    100% {
        transform: rotate(3deg)
    }
}

@-webkit-keyframes sway-1 {
    0% {
        -webkit-transform: rotate(10deg)
    }
    40% {
        -webkit-transform: rotate(43deg)
    }
    100% {
        -webkit-transform: rotate(15deg)
    }
}

@-o-keyframes sway-1 {
    0% {
        -o-transform: rotate(10deg)
    }
    40% {
        -o-transform: rotate(43deg)
    }
    100% {
        -o-transform: rotate(15deg)
    }
}

@-ms-keyframes sway-1 {
    0% {
        -ms-transform: rotate(10deg)
    }
    40% {
        -ms-transform: rotate(43deg)
    }
    100% {
        -ms-transform: rotate(15deg)
    }
}

@-moz-keyframes sway-1 {
    0% {
        -moz-transform: rotate(10deg)
    }
    40% {
        -moz-transform: rotate(43deg)
    }
    100% {
        -moz-transform: rotate(15deg)
    }
}

@keyframes sway-1 {
    0% {
        transform: rotate(10deg)
    }
    40% {
        transform: rotate(43deg)
    }
    100% {
        transform: rotate(15deg)
    }
}

@-webkit-keyframes sway-2 {
    0% {
        -webkit-transform: rotate(15deg)
    }
    40% {
        -webkit-transform: rotate(56deg)
    }
    100% {
        -webkit-transform: rotate(22deg)
    }
}

@-o-keyframes sway-2 {
    0% {
        -o-transform: rotate(15deg)
    }
    40% {
        -o-transform: rotate(56deg)
    }
    100% {
        -o-transform: rotate(22deg)
    }
}

@-ms-keyframes sway-2 {
    0% {
        -ms-transform: rotate(15deg)
    }
    40% {
        -ms-transform: rotate(56deg)
    }
    100% {
        -ms-transform: rotate(22deg)
    }
}

@-moz-keyframes sway-2 {
    0% {
        -moz-transform: rotate(15deg)
    }
    40% {
        -moz-transform: rotate(56deg)
    }
    100% {
        -moz-transform: rotate(22deg)
    }
}

@keyframes sway-2 {
    0% {
        transform: rotate(15deg)
    }
    40% {
        transform: rotate(56deg)
    }
    100% {
        transform: rotate(22deg)
    }
}

@-webkit-keyframes sway-3 {
    0% {
        -webkit-transform: rotate(25deg)
    }
    40% {
        -webkit-transform: rotate(74deg)
    }
    100% {
        -webkit-transform: rotate(37deg)
    }
}

@-o-keyframes sway-3 {
    0% {
        -o-transform: rotate(25deg)
    }
    40% {
        -o-transform: rotate(74deg)
    }
    100% {
        -o-transform: rotate(37deg)
    }
}

@-ms-keyframes sway-3 {
    0% {
        -ms-transform: rotate(25deg)
    }
    40% {
        -ms-transform: rotate(74deg)
    }
    100% {
        -ms-transform: rotate(37deg)
    }
}

@-moz-keyframes sway-3 {
    0% {
        -moz-transform: rotate(25deg)
    }
    40% {
        -moz-transform: rotate(74deg)
    }
    100% {
        -moz-transform: rotate(37deg)
    }
}

@keyframes sway-3 {
    0% {
        transform: rotate(25deg)
    }
    40% {
        transform: rotate(74deg)
    }
    100% {
        transform: rotate(37deg)
    }
}

@-webkit-keyframes sway-4 {
    0% {
        -webkit-transform: rotate(40deg)
    }
    40% {
        -webkit-transform: rotate(68deg)
    }
    100% {
        -webkit-transform: rotate(25deg)
    }
}

@-o-keyframes sway-4 {
    0% {
        -o-transform: rotate(40deg)
    }
    40% {
        -o-transform: rotate(68deg)
    }
    100% {
        -o-transform: rotate(25deg)
    }
}

@-ms-keyframes sway-4 {
    0% {
        -ms-transform: rotate(40deg)
    }
    40% {
        -ms-transform: rotate(68deg)
    }
    100% {
        -ms-transform: rotate(25deg)
    }
}

@-moz-keyframes sway-4 {
    0% {
        -moz-transform: rotate(40deg)
    }
    40% {
        -moz-transform: rotate(68deg)
    }
    100% {
        -moz-transform: rotate(25deg)
    }
}

@keyframes sway-4 {
    0% {
        transform: rotate(40deg)
    }
    40% {
        transform: rotate(68deg)
    }
    100% {
        transform: rotate(25deg)
    }
}

@-webkit-keyframes sway-5 {
    0% {
        -webkit-transform: rotate(50deg)
    }
    40% {
        -webkit-transform: rotate(78deg)
    }
    100% {
        -webkit-transform: rotate(40deg)
    }
}

@-o-keyframes sway-5 {
    0% {
        -o-transform: rotate(50deg)
    }
    40% {
        -o-transform: rotate(78deg)
    }
    100% {
        -o-transform: rotate(40deg)
    }
}

@-ms-keyframes sway-5 {
    0% {
        -ms-transform: rotate(50deg)
    }
    40% {
        -ms-transform: rotate(78deg)
    }
    100% {
        -ms-transform: rotate(40deg)
    }
}

@-moz-keyframes sway-5 {
    0% {
        -moz-transform: rotate(50deg)
    }
    40% {
        -moz-transform: rotate(78deg)
    }
    100% {
        -moz-transform: rotate(40deg)
    }
}

@keyframes sway-5 {
    0% {
        transform: rotate(50deg)
    }
    40% {
        transform: rotate(78deg)
    }
    100% {
        transform: rotate(40deg)
    }
}

@-webkit-keyframes sway-6 {
    0% {
        -webkit-transform: rotate(65deg)
    }
    40% {
        -webkit-transform: rotate(92deg)
    }
    100% {
        -webkit-transform: rotate(58deg)
    }
}

@-o-keyframes sway-6 {
    0% {
        -o-transform: rotate(65deg)
    }
    40% {
        -o-transform: rotate(92deg)
    }
    100% {
        -o-transform: rotate(58deg)
    }
}

@-ms-keyframes sway-6 {
    0% {
        -ms-transform: rotate(65deg)
    }
    40% {
        -ms-transform: rotate(92deg)
    }
    100% {
        -ms-transform: rotate(58deg)
    }
}

@-moz-keyframes sway-6 {
    0% {
        -moz-transform: rotate(65deg)
    }
    40% {
        -moz-transform: rotate(92deg)
    }
    100% {
        -moz-transform: rotate(58deg)
    }
}

@keyframes sway-6 {
    0% {
        transform: rotate(65deg)
    }
    40% {
        transform: rotate(92deg)
    }
    100% {
        transform: rotate(58deg)
    }
}

@-webkit-keyframes sway-7 {
    0% {
        -webkit-transform: rotate(72deg)
    }
    40% {
        -webkit-transform: rotate(118deg)
    }
    100% {
        -webkit-transform: rotate(68deg)
    }
}

@-o-keyframes sway-7 {
    0% {
        -o-transform: rotate(72deg)
    }
    40% {
        -o-transform: rotate(118deg)
    }
    100% {
        -o-transform: rotate(68deg)
    }
}

@-ms-keyframes sway-7 {
    0% {
        -ms-transform: rotate(72deg)
    }
    40% {
        -ms-transform: rotate(118deg)
    }
    100% {
        -ms-transform: rotate(68deg)
    }
}

@-moz-keyframes sway-7 {
    0% {
        -moz-transform: rotate(72deg)
    }
    40% {
        -moz-transform: rotate(118deg)
    }
    100% {
        -moz-transform: rotate(68deg)
    }
}

@keyframes sway-7 {
    0% {
        transform: rotate(72deg)
    }
    40% {
        transform: rotate(118deg)
    }
    100% {
        transform: rotate(68deg)
    }
}

@-webkit-keyframes sway-8 {
    0% {
        -webkit-transform: rotate(94deg)
    }
    40% {
        -webkit-transform: rotate(136deg)
    }
    100% {
        -webkit-transform: rotate(82deg)
    }
}

@-o-keyframes sway-8 {
    0% {
        -o-transform: rotate(94deg)
    }
    40% {
        -o-transform: rotate(136deg)
    }
    100% {
        -o-transform: rotate(82deg)
    }
}

@-ms-keyframes sway-8 {
    0% {
        -ms-transform: rotate(94deg)
    }
    40% {
        -ms-transform: rotate(136deg)
    }
    100% {
        -ms-transform: rotate(82deg)
    }
}

@-moz-keyframes sway-8 {
    0% {
        -moz-transform: rotate(94deg)
    }
    40% {
        -moz-transform: rotate(136deg)
    }
    100% {
        -moz-transform: rotate(82deg)
    }
}

@keyframes sway-8 {
    0% {
        transform: rotate(94deg)
    }
    40% {
        transform: rotate(136deg)
    }
    100% {
        transform: rotate(82deg)
    }
}

.sakura {
    background: -webkit-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
    background: -o-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
    background: -ms-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
    background: -moz-linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
    background: linear-gradient(120deg, rgba(255, 183, 197, 0.9), rgba(255, 197, 208, 0.9));
    -webkit-border-radius: 12px 1px;
    -o-border-radius: 12px 1px;
    -ms-border-radius: 12px 1px;
    -moz-border-radius: 12px 1px;
    border-radius: 12px 1px;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
    position: absolute
}
